extends template

block content

    .row
        .sixteen.wide.column

            table.ui.compact.table
                thead
                    th Nom
                    th Status
                    th Actions
                tbody
                    tr

            p= datas.svcinfo